:root{
--font:"Raleway",sans-serif;
--max-width:120px;
--header-height:4rem;
}

html{
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 3318px;
    margin: 0%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

P{
    line-height: 1,6;
}

:hover{
    opacity: 0,75;
}
   
.box-shadow-1{
       box-shadow: 0.313rem 0.313rem 0.313rem rgba(0, 0, 0, 0.25);
}

h4{
    margin: 0px;
}










/*MENU NAVEGACION*/
.Contenedor-Menu{
    position: fixed;
    background-color: #323B5A;
    height: 35px;
    width: 600px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 1px white; 
    margin: 40px 0px 0px 500px;
}
.Menu{
    height: 34px;
    width: 600px;
    position: initial;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Logo{
    height: 30px;
}
a{
    color: #ffffff;
    font-size: 20px;
    transition: 0.3s ease;
    text-decoration: none;
}
    a:hover {
        color: #9768BB;
        transition: all 0.3s ease-out;
        transform: scale(1.1);        
    }

   








/*PORTADA*/
.Cuadro-Titulo{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}
.Titulo-Principal{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Img_Portada{
    width: 100%;
    min-width: 1200px;
    height: 100%;
    position: absolute;
}
.hola-soy{
    position: relative;
    color: white;
    text-shadow: 0px 0px 11px rgb(0, 0, 0);
    margin: 0px 559px 0px 0px;}
.Jonatan-Mendez{
    position: relative;
    color: white;
    font-size: 85px;
    text-shadow: 0px 0px 11px rgb(0, 0, 0);
    margin: auto;

}
.Info{
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 21px;
    text-shadow: 0px 0px 11px rgb(0, 0, 0);
    margin: 0px 10px 0px 0px;
}

    /*Redes De Contacto*/
    .iconos-redes{
        position: relative;
        margin: 20px 0px 0px 440px;
    }
     .Icono-P{
                width: 50px;
                height: 50px;
                position: initial;
                transition: all .4s ease-in-out;;


    }
  
    @media (hover: hover){
        .Icono-P:hover{
            color: rgb(0, 0, 0);
            font-weight: bold;
            transform: scale(1.2);
            transition: all .4s ease-in-out;;
            }
        }









/*SOBRE MI*/
.Contenedor-SobreMi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
.Barra_1{
    position: initial;
    width: 1122px;
    height: 8.06px;
    background: #323B5A;
}
.Sobre-Mi{
    position: relative;
    width: 1122px;
    height: 300px;
    display: flex;
    flex-direction: row-reverse;
    /* padding: 3rem; */
    align-items: center;
    justify-content: center;
}
.Mi-Foto{
    width: 250px;
    max-width: 208px;
    border-radius: 100%;
    padding: 49px 0px 0px 0px;
}
.Texto_SobreMi{
    text-align: justify;
    padding: 0px 20px 0px 0px;
}
.Boton-imagen{
    text-align: center;
}
.Des-cv{
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background-color: #9768BB;
    color: #ffffff;
    margin: 10px 0px 0px 0px;
    border: none;
    transition: .3s ease; 
}   
@media (hover: hover){
    .Des-cv:hover{
        color: rgb(0, 0, 0);
        background-color: #15a5a5; 
        font-weight: bold;
        transform: scale(1.1);
        box-shadow: -1px 2px 20px -1px #15a5a567;
        transition: all .3s ease-in-out;;
        }
    }
    









/*EXPERIENCIAS*/
.Barra_2{
    position: initial;
    width: 1122px;
    height: 8.06px;
    left: 0px;
    top: 0px;
    background: #323B5A;
}
.Experiencias{
    position: initial;
    width: 1122px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px 0px;
}
.Titulo_exp{
    position: initial;
    color: white;
    padding: 10px;
    margin: 0px;
}
.Texto_exp{
    text-align: justify;
    position: relative;
    color: white;
    margin: 0px;
}
.Contenedor-Exp{
    background-color: #323B5A;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 10px 0px 10px 0px;
}
.Sub-Titulo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.cuadro_I2T{
    width: 1118px;
    height: 200px;
    background-color: #323B5A;
    border-radius: 20px;
}
.cuadro_2D{
    width: 1118px;
    height: 151px;
    background-color: #323B5A;
    border-radius: 20px;
}
.Portafolio-work1{
    width: 30px;
    height: 30px;
    position: relative;
    /* top: 77px; */
    /* left: 19px; */
    /* display: grid;*/
}
.Portafolio-work2{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 248px;
    left: 19px;
    display: grid;
}
.Portafolio-work3{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 466px;
    left: 19px;
    display: grid;
}










/*TECNOLOGIA*/
.Barra_3{
    position: initial;
    width: 1122px;
    height: 8.06px;
    left: 0px;
    top: 0px;
    background: #323B5A;
}
.Tecnologias{
    position: initial;
    padding: 50px 0px;
}
.T-H{
    display: flex;
    /* height: 140px; */
    /* width: 1000px; */
    /* grid-template-columns: repeat(7, 140px); */
    /* grid-template-rows: 10rem 8rem 10rem; */
    column-gap: -5rem;
    justify-content: space-around;
    /* background-color: #323b5a; */
    border-radius: 15px;
    flex-direction: row;
    flex-wrap: wrap;
}

.Iconos-T{
    display: grid;
    height: 150px;
    width: 1000px;
    grid-template-columns: repeat(7, 130px);
    grid-template-rows: 10rem 8rem 9rem;
    column-gap: -5rem;
    justify-content: center;
    background-color: #323b5a;
    border-radius: 70px;
    margin: 15px;
    flex-wrap: wrap;
    color: white;
}


.Iconos-H{
    display: grid;
    height: 300px;
    width: 1000px;
    grid-template-columns: repeat(6, 155px);
    grid-template-rows: 10rem 8rem 10rem;
    column-gap: -5rem;
    justify-content: center;
    background-color: #323b5a;
    border-radius: 50px;
    flex-wrap: wrap;
    color: white;
}
.Diseño{
    background-color: var(--eerie-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}










/*PROYECTOS*/
.Barra_4{
    position: initial;
    height: 8.06px;
    left: 0px;
    top: 0px;
    background: #323b5a;
}
.Proyectos{
    position: initial;
    padding: 20px 0px;
}
.Marco_proyecto{
    display: grid;
    grid-template-columns: repeat(4, 280px);
    column-gap: -5rem;
 
    justify-items: center;
}
.Pre-Proyecto{
    width: 200px;
    height: 250px;
    background-color: #323B5A;
    border-radius: 15px;
    text-align: center;
    color: white;
}










/*CONTACTO*/
.Barra_5{
    position: relative;
    width: 1122px;
    height: 8px;
    background: #323B5A;
    margin: 40px 0px;
}
.Contenedor-contacto{
   position: initial;
}
.Contacto{
    background-color: #323B5A;
    position: absolute;
    width: 1122px;
    height: 400px;
    left: 80px;
    top: 2700px;
    border-radius: 30px;
}
.Img-Contacto{
    width: 550px;
    height: 330px;
    padding: 50px 50px;
}

    /*Cuadro De Contacto*/
    .Contenedor-Accion{
        padding: 60px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .Cuadro_contacto{
        background-color: #323B5A;
        border-radius: 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 15px;
        margin: 30px 0px 0px 0px;
    }
    .Titulo_Contacto{
            color: #ffffff;
            position: initial;
            margin: 0px;
    }

        /*Cuadro De Nombre*/
        .Cuadro_Nombre{
            width: 400px;
            height: 30px;
            position: initial;
            background-color: #ffffff;
            border-radius: 20px;
        
        }
        .Nombre_Contact{
            /* height: 10px; */
            position: initial;
            /* top: 74px; */
            /* left: 684px; */
            color: #ffffff;
        }
        form input{
            padding: 5px 10px;
            letter-spacing: 1px;
            font-family: var(--font);
        }
        /*Cuadro De Usuario*/
        .Usuario{
            /* height: 10px; */
            position: initial;
            color: rgb(172, 172, 172);
            margin: 0px;
            padding: 10px;
        }

        /*Cuadro De Correo*/
        .Cuadro_Correo{
            width: 400px;
            height: 30px;
            position: initial;
            background-color: #ffffff;
            border-radius: 20px;
        }
        .Correo{
        position: initial;
        color: rgb(172, 172, 172);
        margin: 0px;
        padding: 10px;
        }
        .Nombre_Correo{
                /* height: 20px; */
                position: initial;
                /* top: 144px; */
                /* left: 684px; */
                color: #ffffff;
        }
        
        /*Cuadro De Mensaje*/
        .Cuadro_Mensaje{
            width: 400px;
            height: 200px;
            position: initial;
            background-color: #ffffff;
            border-radius: 20px;
        }
        .Mensaje{
            position: initial;
            color: #ffffff;
        }
        .Texto_mensaje{
            height: 30px;
            position: initial;
            color: rgb(172, 172, 172);
            padding: 0px 10px;
        }
        form textarea{
            padding: 15px 10px;
            letter-spacing: 1px;
            font-family: var(--font);
        }

            /*Boton Enviar*/
            .Enviar{
                height: 40px;
                width: 150px;
                position: initial;
                border-radius: 10px;
                color: white;
                background-color: #9768BB;
                margin: 0px 0px 0px 265px;
                border: none;
                transition: .3s ease;                
            }
            @media (hover: hover){
            .Enviar:hover{
                background-color: #15a5a5; 
                color: rgb(0, 0, 0);
                font-weight: bold;
                transform: scale(1.1);
                box-shadow: -1px 2px 20px -1px #15a5a567;
                transition: all .3s ease-in-out;;
                
                }
            } 
           

             









/*FOOTER - PIE DE PAGINA*/
.footer{
    width: 100%;
    height: 200px;
    position: relative;
    background-color: #323B5A;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Logo_Footer{
    height: 100px;
}

.Iconos_F{
    height: 30px;
}
.Barra_6{
    height: 120px;
    width: 2px;
    background-color: #9768BB;
    margin: 20px;
}
